@tailwind base;
@tailwind components;
@tailwind utilities;

.active-nav-link {
    background-color: rgba(255, 255, 255, .08);
    border-color: rgb(82 82 82);
    color: white;
    border-color: rgb(82 82 82);
}

.background-lines {
    background-image: linear-gradient(to right, #292929 1px, transparent 1px);
    background-size: 100px;
}

.card:hover .card-animation {
    gap: 16px;
}