@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    background-color: #202020;
    color: #b1b1b1;
    scroll-behavior: smooth;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}